
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Bugs</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Interface</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody *ngIf="bugs"> 
                <tr *ngFor="let bg of bugs._embedded.bugs">
                    <td>{{bg.interfacee}}</td>
                    <td>{{bg.type}}</td>
                    <td>{{bg.date}}</td>
                    <td>{{bg.statut}}</td>
                   
                </tr>
            </tbody>
        </table>
        
    </div>
</div>