<h3>Modifier un projet</h3>
<form #f="ngForm">

        <mat-form-field appearance="standard">
          <mat-label>Entrer votre nom de projet</mat-label>
          <input matInput name="nom" [(ngModel)]="projet.nom" placeholder="Entrer le nom de projet">
        </mat-form-field>
      
        <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="projet.date"  placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
    
    
      <button mat-button (click)="cancel()">Annuler</button>
      <button mat-raised-button (click)="onEditProject(f)">Modifier</button>

      
</form>
 
