
<button mat-mini-fab color="">
    <mat-icon (click)="openDialog()">add</mat-icon> 
  </button>


<div class="mat-elevation-z8">
    <mat-form-field class="aa" >
        
        <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="nom" (input)="Search()" placeholder="Filter" >
      </mat-form-field>
      <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Projets</h1>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>nom</th>
                        <th>date</th>
                        <th>Bugs</th>
                        <th>exeption</th>
                    </tr>
                </thead>
                <tbody *ngIf="projets" >
                    <tr *ngFor="let projet of projets._embedded.projets | paginate: { itemsPerPage: 5, currentPage: page }">
                        <td>{{projet.nom}}</td>
                        <td>{{projet.date|date:'mediumDate'}}</td>
                        <td><a [routerLink]="['/projets', projet.id, 'bugs']">List des bugs</a></td>
                        <td>
                          <button  (click)="deleteProjet(projet.id)" class="btn btn-sm btn-dark" ><i class="fa fa-trash-alt" id="delte"></i></button>
                          <button (click)="openDialogEdit(projet.id)"  class="btn btn-sm btn-dark" id="btn"><i class="fa fa-pencil-alt" id="modifier"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls class="pagi" (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>

</div>

